* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #30afc1;
  text-decoration: none;
}

html {
  height: 100vh;
  overflow: auto;
}

body {
  height: 100vh;
  background-color: #070707;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 23rem;
}

#container {
  display: flex;
  height: calc(100vh - 20px);
  justify-content: center;
  padding: 1.5rem 2.5rem;
  background-color: #2e2d2c;
}

main{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;  
  align-items: center;

}


#singleCover {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin-top: 0.625rem;
  text-align: center;
}

#links {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 1.25rem;
  flex-direction: column;  
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.icon img {
  width: 45px;
}

a{
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #30afc1;
}
